# üö©Problem Definition

The objective of this project is to build a sales forecasting model that predicts the sales of product families at Favorita stores in Ecuador. Using the historical sales data, along with the provided features such as store information, promotional data, oil prices, and holidays/events, the model should accurately forecast the sales for the given test dates.

The sales forecasting model will assist Favorita in optimizing inventory management, planning promotions, and meeting customer demand effectively. Accurate sales predictions can help in making informed business decisions, ensuring optimal stock levels, and maximizing profitability.

# üíæ Data Loading

### Data:
1. **train.csv**: Sales time series data with features like `store_nbr`, `family`, and `onpromotion`.
2. **test.csv**: Similar to `train.csv`, used for sales prediction on provided dates.
3. **sample_submission.csv**: Sample submission file format for predictions.
4. **stores.csv**: Store metadata including `city`, `state`, `type`, and `cluster` grouping.
5. **oil.csv**: Daily oil prices, important for Ecuador's oil-dependent economy.
6. **holidays_events.csv**: Information on holidays and events, including transferred dates and bridge days.

### How to?:
 1. Import `load_data` from `data_preprocessing.py`, this shall return you the dataframes of the said csv's.

In [24]:
import data_preprocessing as dp
import util as ut

train_data, test_data, stores_data, oil_data, holidays_data = dp.load_data()

In [25]:
train_data.head()

   id        date  store_nbr      family  sales  onpromotion
0   0  2013-01-01          1  AUTOMOTIVE    0.0            0
1   1  2013-01-01          1   BABY CARE    0.0            0
2   2  2013-01-01          1      BEAUTY    0.0            0
3   3  2013-01-01          1   BEVERAGES    0.0            0
4   4  2013-01-01          1       BOOKS    0.0            0

In [26]:
test_data.head()

        id        date  store_nbr      family  onpromotion
0  3000888  2017-08-16          1  AUTOMOTIVE            0
1  3000889  2017-08-16          1   BABY CARE            0
2  3000890  2017-08-16          1      BEAUTY            2
3  3000891  2017-08-16          1   BEVERAGES           20
4  3000892  2017-08-16          1       BOOKS            0

In [27]:
stores_data.head()

   store_nbr           city                           state type  cluster
0          1          Quito                       Pichincha    D       13
1          2          Quito                       Pichincha    D       13
2          3          Quito                       Pichincha    D        8
3          4          Quito                       Pichincha    D        9
4          5  Santo Domingo  Santo Domingo de los Tsachilas    D        4

In [28]:
oil_data.head()

         date  dcoilwtico
0  2013-01-01         NaN
1  2013-01-02       93.14
2  2013-01-03       92.97
3  2013-01-04       93.12
4  2013-01-07       93.20

In [29]:
holidays_data.head()

,date,type,locale,locale_name,description,transferred
0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2,2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False
3,2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False
4,2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False

# üß≠ Exploration

### What to do?
1. Understand the structure and contents of your data by examining the DataFrame.
2. Use descriptive methods and functions like `head()`, `info()`, and `describe()` to get an overview of the data.
3. Check for missing values using functions like `isnull()` or `isna()` and handle them if necessary.
4. Perform data transformations and cleaning, such as removing unnecessary columns or converting data types.
5. Visualize the data using plots, histograms, box plots, scatter plots, or any other relevant visualizations to gain insights into the data distribution, patterns, and relationships.

### How to?
1. Go ahead and clean the data sets note the cleaning functions must be definded in the `data_preprocessing` python script, We want to keep this notebook readable so keep out the complex code.
2. After having cleaned a dataset use `df.to_csv()` to save it inside a folder named `data_clean`.
Note: the folder MUST be named data_clean (Else it wont be ignored by git and it will try to upload the cleaned data set to github).

### üèãÔ∏è Training Datatset

 **train.csv**: This file contains time series data of sales and features such as `store_nbr, family, and onpromotion`. The target variable is the `sales`, representing the total sales for a product family at a particular store on a given date.

To Do: 
1. Clean the data set figure out the most important features and retain them or List them.

In [30]:
train_data

# üîß Feature Engineering

1. Encapsulate data preprocessing tasks in `data_preprocessing.py`:
2. Handle missing values by imputation or removal based on analysis.
3. Perform feature engineering, such as transforming dates, encoding categorical variables, and creating additional relevant features.
4. Apply any necessary data transformations, such as scaling or normalization.

# ‚öôÔ∏è Model Selection & Training 

1. Encapsulate model training functionality in `model_training.py`:
2. Select a suitable forecasting model based on the problem requirements.
3. Implement functions or classes to handle model selection, hyperparameter tuning, and training on the training data.
4. Save the trained model for later use.
5. Encapsulate model evaluation functionality in `model_evaluation.py`:
6. Implement functions or classes to evaluate the performance of the trained model using metrics like MAE, RMSE, or others.
7. Generate evaluation reports, visualizations, or any additional analysis to assess the model's accuracy and quality.

# üîÆ Model Prediction

1. Encapsulate prediction functionality in `model_prediction.py`:
2. Create functions or classes to load the trained model and make predictions on the test data or unseen data.
3. Format the predictions and prepare them for further analysis or visualization.

# üöÄ Deployment 
1. Deploy using streamlit