In [36]:

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [37]:

file_path = "./data_clean/train.csv"
df = pd.read_csv(file_path)


file_path = "./data/oil.csv"
df_oil = pd.read_csv(file_path)


df_oil.dtypes

date           object
dcoilwtico    float64
dtype: object

In [38]:
df_oil.head()

         date  dcoilwtico
0  2013-01-01         NaN
1  2013-01-02       93.14
2  2013-01-03       92.97
3  2013-01-04       93.12
4  2013-01-07       93.20

In [39]:
df_oil.describe()

        dcoilwtico
count  1175.000000
mean     67.714366
std      25.630476
min      26.190000
25%      46.405000
50%      53.190000
75%      95.660000
max     110.620000

In [40]:
df_oil['dcoilwtico'] = df_oil['dcoilwtico'].fillna(df_oil['dcoilwtico'].mean())
df_oil.head()

         date  dcoilwtico
0  2013-01-01   67.714366
1  2013-01-02   93.140000
2  2013-01-03   92.970000
3  2013-01-04   93.120000
4  2013-01-07   93.200000

In [41]:
df_oil['date'] = pd.to_datetime( df_oil['date'])
df_oil.dtypes

date          datetime64[ns]
dcoilwtico           float64
dtype: object

In [42]:
df_oil['year'] = df_oil['date'].dt.year
df_oil['month'] = df_oil['date'].dt.month
df_oil['day'] = df_oil['date'].dt.day

df_oil['date'].drop(inplace=True)
df_oil

ValueError: Need to specify at least one of 'labels', 'index' or 'columns'

In [ ]:
df

,store_nbr,sales,onpromotion,AUTOMOTIVE,BABY CARE,BEAUTY,BEVERAGES,BOOKS,BREAD/BAKERY,CELEBRATION,...,PET SUPPLIES,PLAYERS AND ELECTRONICS,POULTRY,PREPARED FOODS,PRODUCE,SCHOOL AND OFFICE SUPPLIES,SEAFOOD,year,month,day
0,1,0.000,0,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,2013,1,1
1,1,0.000,0,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,2013,1,1
2,1,0.000,0,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,2013,1,1
3,1,0.000,0,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,2013,1,1
4,1,0.000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,2013,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3000883,9,438.133,0,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,2017,8,15
3000884,9,154.553,1,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,2017,8,15
3000885,9,2419.729,148,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,2017,8,15
3000886,9,121.000,8,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,2017,8,15
3000887,9,16.000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,2017,8,15

In [45]:
merged_df = pd.merge(df, df_oil, on=['year', 'month', 'day'])
merged_df.drop('date', inplace=True, axis = 1)
merged_df

,store_nbr,sales,onpromotion,AUTOMOTIVE,BABY CARE,BEAUTY,BEVERAGES,BOOKS,BREAD/BAKERY,CELEBRATION,...,PLAYERS AND ELECTRONICS,POULTRY,PREPARED FOODS,PRODUCE,SCHOOL AND OFFICE SUPPLIES,SEAFOOD,year,month,day,dcoilwtico
0,1,0.000,0,True,False,False,False,False,False,False,...,False,False,False,False,False,False,2013,1,1,67.714366
1,1,0.000,0,False,True,False,False,False,False,False,...,False,False,False,False,False,False,2013,1,1,67.714366
2,1,0.000,0,False,False,True,False,False,False,False,...,False,False,False,False,False,False,2013,1,1,67.714366
3,1,0.000,0,False,False,False,True,False,False,False,...,False,False,False,False,False,False,2013,1,1,67.714366
4,1,0.000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,2013,1,1,67.714366
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2143741,9,438.133,0,False,False,False,False,False,False,False,...,False,True,False,False,False,False,2017,8,15,47.570000
2143742,9,154.553,1,False,False,False,False,False,False,False,...,False,False,True,False,False,False,2017,8,15,47.570000
2143743,9,2419.729,148,False,False,False,False,False,False,False,...,False,False,False,True,False,False,2017,8,15,47.570000
2143744,9,121.000,8,False,False,False,False,False,False,False,...,False,False,False,False,True,False,2017,8,15,47.570000
2143745,9,16.000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,True,2017,8,15,47.570000

In [46]:
merged_df.head(10)
merged_df['dcoilwtico'].isnull().sum()

0

In [47]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [48]:

features = list (merged_df.columns)
features.remove('sales')
print(features)

X_train, X_test, y_train, y_test = train_test_split(merged_df[features], merged_df['sales'], test_size=0.2, random_state=42)  


model = LinearRegression()

print(X_train.dtypes)

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

mse = mean_squared_error(y_test, y_pred)

['store_nbr', 'onpromotion', 'AUTOMOTIVE', 'BABY CARE', 'BEAUTY', 'BEVERAGES', 'BOOKS', 'BREAD/BAKERY', 'CELEBRATION', 'CLEANING', 'DAIRY', 'DELI', 'EGGS', 'FROZEN FOODS', 'GROCERY I', 'GROCERY II', 'HARDWARE', 'HOME AND KITCHEN I', 'HOME AND KITCHEN II', 'HOME APPLIANCES', 'HOME CARE', 'LADIESWEAR', 'LAWN AND GARDEN', 'LINGERIE', 'LIQUOR,WINE,BEER', 'MAGAZINES', 'MEATS', 'PERSONAL CARE', 'PET SUPPLIES', 'PLAYERS AND ELECTRONICS', 'POULTRY', 'PREPARED FOODS', 'PRODUCE', 'SCHOOL AND OFFICE SUPPLIES', 'SEAFOOD', 'year', 'month', 'day', 'dcoilwtico']
store_nbr                       int64
onpromotion                     int64
AUTOMOTIVE                       bool
BABY CARE                        bool
BEAUTY                           bool
BEVERAGES                        bool
BOOKS                            bool
BREAD/BAKERY                     bool
CELEBRATION                      bool
CLEANING                         bool
DAIRY                            bool
DELI                             bool
EGGS                             bool
FROZEN FOODS                     bool
GROCERY I                        bool
GROCERY II                       bool
HARDWARE                         bool
HOME AND KITCHEN I               bool
HOME AND KITCHEN II              bool
HOME APPLIANCES                  bool
HOME CARE                        bool
LADIESWEAR                       bool
LAWN AND GARDEN                  bool
LINGERIE                         bool
LIQUOR,WINE,BEER                 bool
MAGAZINES                        bool
MEATS                            bool
PERSONAL CARE                    bool
PET SUPPLIES                     bool
PLAYERS AND ELECTRONICS          bool
POULTRY                          bool
PREPARED FOODS                   bool
PRODUCE                          bool
SCHOOL AND OFFICE SUPPLIES       bool
SEAFOOD                          bool
year                            int64
month                           int64
day                             int64
dcoilwtico                    float64
dtype: object

In [ ]:
print(mse)