In [62]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [63]:
file_path = "./data/train.csv"
train_data_set = pd.read_csv(file_path)

train_data_set.dtypes

id               int64
date            object
store_nbr        int64
family          object
sales          float64
onpromotion      int64
dtype: object

In [64]:
train_data_set['date'] = pd.to_datetime(train_data_set['date'])

family = list(train_data_set['family'].unique())
dummy = pd.get_dummies(train_data_set['family'])

merged_df = pd.merge(train_data_set, dummy, left_index=True, right_index=True)
merged_df.drop('id', inplace=True, axis=1)
merged_df.drop('family', inplace=True, axis=1)
merged_df

,date,store_nbr,sales,onpromotion,AUTOMOTIVE,BABY CARE,BEAUTY,BEVERAGES,BOOKS,BREAD/BAKERY,...,MAGAZINES,MEATS,PERSONAL CARE,PET SUPPLIES,PLAYERS AND ELECTRONICS,POULTRY,PREPARED FOODS,PRODUCE,SCHOOL AND OFFICE SUPPLIES,SEAFOOD
0,2013-01-01,1,0.000,0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,2013-01-01,1,0.000,0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,2013-01-01,1,0.000,0,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,2013-01-01,1,0.000,0,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
4,2013-01-01,1,0.000,0,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3000883,2017-08-15,9,438.133,0,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
3000884,2017-08-15,9,154.553,1,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
3000885,2017-08-15,9,2419.729,148,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3000886,2017-08-15,9,121.000,8,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3000887,2017-08-15,9,16.000,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [65]:
merged_df.describe()

                                date     store_nbr         sales   onpromotion
count                        3000888  3.000888e+06  3.000888e+06  3.000888e+06
mean   2015-04-24 08:27:04.703088384  2.750000e+01  3.577757e+02  2.602770e+00
min              2013-01-01 00:00:00  1.000000e+00  0.000000e+00  0.000000e+00
25%              2014-02-26 18:00:00  1.400000e+01  0.000000e+00  0.000000e+00
50%              2015-04-24 12:00:00  2.750000e+01  1.100000e+01  0.000000e+00
75%              2016-06-19 06:00:00  4.100000e+01  1.958473e+02  0.000000e+00
max              2017-08-15 00:00:00  5.400000e+01  1.247170e+05  7.410000e+02
std                              NaN  1.558579e+01  1.101998e+03  1.221888e+01

In [66]:
merged_df.isna()

,date,store_nbr,sales,onpromotion,AUTOMOTIVE,BABY CARE,BEAUTY,BEVERAGES,BOOKS,BREAD/BAKERY,...,MAGAZINES,MEATS,PERSONAL CARE,PET SUPPLIES,PLAYERS AND ELECTRONICS,POULTRY,PREPARED FOODS,PRODUCE,SCHOOL AND OFFICE SUPPLIES,SEAFOOD
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3000883,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3000884,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3000885,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3000886,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3000887,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [67]:
merged_df.isnull()

,date,store_nbr,sales,onpromotion,AUTOMOTIVE,BABY CARE,BEAUTY,BEVERAGES,BOOKS,BREAD/BAKERY,...,MAGAZINES,MEATS,PERSONAL CARE,PET SUPPLIES,PLAYERS AND ELECTRONICS,POULTRY,PREPARED FOODS,PRODUCE,SCHOOL AND OFFICE SUPPLIES,SEAFOOD
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3000883,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3000884,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3000885,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3000886,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3000887,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [68]:
merged_df.dtypes

date                          datetime64[ns]
store_nbr                              int64
sales                                float64
onpromotion                            int64
AUTOMOTIVE                              bool
BABY CARE                               bool
BEAUTY                                  bool
BEVERAGES                               bool
BOOKS                                   bool
BREAD/BAKERY                            bool
CELEBRATION                             bool
CLEANING                                bool
DAIRY                                   bool
DELI                                    bool
EGGS                                    bool
FROZEN FOODS                            bool
GROCERY I                               bool
GROCERY II                              bool
HARDWARE                                bool
HOME AND KITCHEN I                      bool
HOME AND KITCHEN II                     bool
HOME APPLIANCES                         bool
HOME CARE                               bool
LADIESWEAR                              bool
LAWN AND GARDEN                         bool
LINGERIE                                bool
LIQUOR,WINE,BEER                        bool
MAGAZINES                               bool
MEATS                                   bool
PERSONAL CARE                           bool
PET SUPPLIES                            bool
PLAYERS AND ELECTRONICS                 bool
POULTRY                                 bool
PREPARED FOODS                          bool
PRODUCE                                 bool
SCHOOL AND OFFICE SUPPLIES              bool
SEAFOOD                                 bool
dtype: object

Dependent Variable : Sales
Independent Variable (Features) : the rest

In [69]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [70]:
merged_df['year'] = merged_df['date'].dt.year
merged_df['month'] = merged_df['date'].dt.month
merged_df['date'] = merged_df['date'].dt.date
merged_df.drop('date', axis=1, inplace=True)
features = list (merged_df.columns)
features.remove('sales')


X_train, X_test, y_train, y_test = train_test_split(merged_df[features], merged_df['sales'], test_size=0.2, random_state=42)  

X_train

,store_nbr,onpromotion,AUTOMOTIVE,BABY CARE,BEAUTY,BEVERAGES,BOOKS,BREAD/BAKERY,CELEBRATION,CLEANING,...,MEATS,PERSONAL CARE,PET SUPPLIES,PLAYERS AND ELECTRONICS,POULTRY,PREPARED FOODS,PRODUCE,SCHOOL AND OFFICE SUPPLIES,SEAFOOD,year
2902383,45,2,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,2017
1651514,47,0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,2015
1948349,26,0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,2016
2893871,7,1,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,2017
2867501,16,0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1692743,54,0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,2015
2356330,23,0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,2016
2229084,53,0,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,2016
2768307,33,15,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,2017
2219110,23,2,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,2016

In [71]:


model = LinearRegression()

print(X_train.dtypes)

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
print(mse)

store_nbr                     int64
onpromotion                   int64
AUTOMOTIVE                     bool
BABY CARE                      bool
BEAUTY                         bool
BEVERAGES                      bool
BOOKS                          bool
BREAD/BAKERY                   bool
CELEBRATION                    bool
CLEANING                       bool
DAIRY                          bool
DELI                           bool
EGGS                           bool
FROZEN FOODS                   bool
GROCERY I                      bool
GROCERY II                     bool
HARDWARE                       bool
HOME AND KITCHEN I             bool
HOME AND KITCHEN II            bool
HOME APPLIANCES                bool
HOME CARE                      bool
LADIESWEAR                     bool
LAWN AND GARDEN                bool
LINGERIE                       bool
LIQUOR,WINE,BEER               bool
MAGAZINES                      bool
MEATS                          bool
PERSONAL CARE                  bool
PET SUPPLIES                   bool
PLAYERS AND ELECTRONICS        bool
POULTRY                        bool
PREPARED FOODS                 bool
PRODUCE                        bool
SCHOOL AND OFFICE SUPPLIES     bool
SEAFOOD                        bool
year                          int32
dtype: object
578278.1083178405

In [72]:
print(mse)

578278.1083178405

In [73]:
merged_df.describe()

          store_nbr         sales   onpromotion          year
count  3.000888e+06  3.000888e+06  3.000888e+06  3.000888e+06
mean   2.750000e+01  3.577757e+02  2.602770e+00  2.014838e+03
std    1.558579e+01  1.101998e+03  1.221888e+01  1.345518e+00
min    1.000000e+00  0.000000e+00  0.000000e+00  2.013000e+03
25%    1.400000e+01  0.000000e+00  0.000000e+00  2.014000e+03
50%    2.750000e+01  1.100000e+01  0.000000e+00  2.015000e+03
75%    4.100000e+01  1.958473e+02  0.000000e+00  2.016000e+03
max    5.400000e+01  1.247170e+05  7.410000e+02  2.017000e+03