In [ ]:
Importing libraries

In [69]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns



READING THE CSV FILE

In [75]:
df=pd.read_csv('/Users/aditinarayan/Documents/datascience/ai job replace/monster_com-job_sample.csv')

In [76]:
df.head(6)

,country,country_code,date_added,has_expired,job_board,job_description,job_title,job_type,location,organization,page_url,salary,sector,uniq_id
0,United States of America,US,NaN,No,jobs.monster.com,TeamSoft is seeing an IT Support Specialist to...,IT Support Technician Job in Madison,Full Time Employee,"Madison, WI 53702",NaN,http://jobview.monster.com/it-support-technici...,NaN,IT/Software Development,11d599f229a80023d2f40e7c52cd941e
1,United States of America,US,NaN,No,jobs.monster.com,The Wisconsin State Journal is seeking a flexi...,Business Reporter/Editor Job in Madison,Full Time,"Madison, WI 53708",Printing and Publishing,http://jobview.monster.com/business-reporter-e...,NaN,NaN,e4cbb126dabf22159aff90223243ff2a
2,United States of America,US,NaN,No,jobs.monster.com,Report this job About the Job DePuy Synthes Co...,Johnson & Johnson Family of Companies Job Appl...,"Full Time, Employee",DePuy Synthes Companies is a member of Johnson...,Personal and Household Services,http://jobview.monster.com/senior-training-lea...,NaN,NaN,839106b353877fa3d896ffb9c1fe01c0
3,United States of America,US,NaN,No,jobs.monster.com,Why Join Altec? If you’re considering a career...,Engineer - Quality Job in Dixon,Full Time,"Dixon, CA",Altec Industries,http://jobview.monster.com/engineer-quality-jo...,NaN,Experienced (Non-Manager),58435fcab804439efdcaa7ecca0fd783
4,United States of America,US,NaN,No,jobs.monster.com,Position ID# 76162 # Positions 1 State CT C...,Shift Supervisor - Part-Time Job in Camphill,Full Time Employee,"Camphill, PA",Retail,http://jobview.monster.com/shift-supervisor-pa...,NaN,Project/Program Management,64d0272dc8496abfd9523a8df63c184c
5,United States of America,US,NaN,No,jobs.monster.com,Job Description Job #: 720298Apex Systems has...,Construction PM - Charlottesville Job in Charl...,Full Time Employee,"Charlottesville, VA",Computer/IT Services,http://jobview.monster.com/construction-pm-cha...,NaN,Experienced (Non-Manager),1e2637cb5f7a2c4615a99a26c0566c66

In [ ]:
Cleaning the data

In [77]:
df=df.drop_duplicates()

In [80]:
print(df)
df.columns

                        country country_code date_added has_expired  \
0      United States of America           US        NaN          No
1      United States of America           US        NaN          No
2      United States of America           US        NaN          No
3      United States of America           US        NaN          No
4      United States of America           US        NaN          No
...                         ...          ...        ...         ...
21995  United States of America           US        NaN          No
21996  United States of America           US        NaN          No
21997  United States of America           US        NaN          No
21998  United States of America           US        NaN          No
21999  United States of America           US        NaN          No

                                         job_description  \
0      TeamSoft is seeing an IT Support Specialist to...
1      The Wisconsin State Journal is seeking a flexi...
2      Report this job About the Job DePuy Synthes Co...
3      Why Join Altec? If you’re considering a career...
4      Position ID#  76162 # Positions  1 State  CT C...
...                                                  ...
21995  This is a major premier Cincinnati based finan...
21996  Luxury homebuilder in Cincinnati seeking multi...
21997  RE: Adobe AEM-          Client -          Loca...
21998  Jernberg Industries was established in 1937 an...
21999  Contract AdministratorCan you be the point per...

                                               job_title             job_type  \
0                   IT Support Technician Job in Madison   Full Time Employee
1                Business Reporter/Editor Job in Madison            Full Time
2      Johnson & Johnson Family of Companies Job Appl...  Full Time, Employee
3                        Engineer - Quality Job in Dixon            Full Time
4           Shift Supervisor - Part-Time Job in Camphill   Full Time Employee
...                                                  ...                  ...
21995  Assistant Vice President - Controller Job in C...            Full Time
21996                       Accountant Job in Cincinnati            Full Time
21997                    AEM/CQ developer Job in Chicago            Full Time
21998  Electrician - Experienced Forging Electrician ...   Full Time Employee
21999           Contract Administrator Job in Cincinnati            Full Time

                                                location  \
0                                      Madison, WI 53702
1                                      Madison, WI 53708
2      DePuy Synthes Companies is a member of Johnson...
3                                              Dixon, CA
4                                           Camphill, PA
...                                                  ...
21995                                     Cincinnati, OH
21996                               Cincinnati, OH 45236
21997                                  Chicago, IL 60602
21998                                  Chicago, IL 60609
21999                                     Cincinnati, OH

                                         organization  \
0                                                 NaN
1                             Printing and Publishing
2                     Personal and Household Services
3                                    Altec Industries
4                                              Retail
...                                               ...
21995                                             NaN
21996  Construction - Residential & Commercial/Office
21997                                             NaN
21998                       Jernberg Industries, Inc.
21999                                             NaN

                                                page_url  \
0      http://jobview.monster.com/it-support-technici...
1      http://jobview.monster.com/business-reporter-e...
2      http://jobview.monster.com/senior-training-lea...
3      http://jobview.monster.com/engineer-quality-jo...
4      http://jobview.monster.com/shift-supervisor-pa...
...                                                  ...
21995  http://jobview.monster.com/Assistant-Vice-Pres...
21996  http://jobview.monster.com/Accountant-Job-Cinc...
21997  http://jobview.monster.com/AEM-CQ5-developer-J...
21998  http://jobview.monster.com/Electrician-Experie...
21999  http://jobview.monster.com/Contract-Administra...

                                                  salary  \
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
21995               120,000.00 - 160,000.00 $ /yearbonus
21996                      45,000.00 - 60,000.00 $ /year
21997                                                NaN
21998                              25.00 - 28.00 $ /hour
21999  40,000.00 - 46,000.00 $ /year+ annual bonus (u...

                                      sector                           uniq_id
0                    IT/Software Development  11d599f229a80023d2f40e7c52cd941e
1                                        NaN  e4cbb126dabf22159aff90223243ff2a
2                                        NaN  839106b353877fa3d896ffb9c1fe01c0
3                  Experienced (Non-Manager)  58435fcab804439efdcaa7ecca0fd783
4                 Project/Program Management  64d0272dc8496abfd9523a8df63c184c
...                                      ...                               ...
21995                                    NaN  a80bc8cc3a90c17eef418963803bc640
21996  Manager (Manager/Supervisor of Staff)  419a3714be2b30a10f628de207d041de
21997                                    NaN  5a590350b73b2cec46b05750a208e345
21998        Installation/Maintenance/Repair  40161cf61c283af9dc2b0a62947a5f1b
21999              Experienced (Non-Manager)  cb49f16ad72627b109e434e0cac97f7a

[22000 rows x 13 columns]

Index(['country', 'country_code', 'date_added', 'has_expired',
       'job_description', 'job_title', 'job_type', 'location', 'organization',
       'page_url', 'salary', 'sector', 'uniq_id'],
      dtype='object')

In [83]:
#df.drop('job_board',axis=1,inplace=True)
columns_to_drop=['country', 'country_code','has_expired']
df.drop(columns_to_drop,axis=1,inplace=True)

In [84]:
df

,date_added,job_description,job_title,job_type,location,organization,page_url,salary,sector,uniq_id
0,NaN,TeamSoft is seeing an IT Support Specialist to...,IT Support Technician Job in Madison,Full Time Employee,"Madison, WI 53702",NaN,http://jobview.monster.com/it-support-technici...,NaN,IT/Software Development,11d599f229a80023d2f40e7c52cd941e
1,NaN,The Wisconsin State Journal is seeking a flexi...,Business Reporter/Editor Job in Madison,Full Time,"Madison, WI 53708",Printing and Publishing,http://jobview.monster.com/business-reporter-e...,NaN,NaN,e4cbb126dabf22159aff90223243ff2a
2,NaN,Report this job About the Job DePuy Synthes Co...,Johnson & Johnson Family of Companies Job Appl...,"Full Time, Employee",DePuy Synthes Companies is a member of Johnson...,Personal and Household Services,http://jobview.monster.com/senior-training-lea...,NaN,NaN,839106b353877fa3d896ffb9c1fe01c0
3,NaN,Why Join Altec? If you’re considering a career...,Engineer - Quality Job in Dixon,Full Time,"Dixon, CA",Altec Industries,http://jobview.monster.com/engineer-quality-jo...,NaN,Experienced (Non-Manager),58435fcab804439efdcaa7ecca0fd783
4,NaN,Position ID# 76162 # Positions 1 State CT C...,Shift Supervisor - Part-Time Job in Camphill,Full Time Employee,"Camphill, PA",Retail,http://jobview.monster.com/shift-supervisor-pa...,NaN,Project/Program Management,64d0272dc8496abfd9523a8df63c184c
...,...,...,...,...,...,...,...,...,...,...
21995,NaN,This is a major premier Cincinnati based finan...,Assistant Vice President - Controller Job in C...,Full Time,"Cincinnati, OH",NaN,http://jobview.monster.com/Assistant-Vice-Pres...,"120,000.00 - 160,000.00 $ /yearbonus",NaN,a80bc8cc3a90c17eef418963803bc640
21996,NaN,Luxury homebuilder in Cincinnati seeking multi...,Accountant Job in Cincinnati,Full Time,"Cincinnati, OH 45236",Construction - Residential & Commercial/Office,http://jobview.monster.com/Accountant-Job-Cinc...,"45,000.00 - 60,000.00 $ /year",Manager (Manager/Supervisor of Staff),419a3714be2b30a10f628de207d041de
21997,NaN,RE: Adobe AEM- Client - Loca...,AEM/CQ developer Job in Chicago,Full Time,"Chicago, IL 60602",NaN,http://jobview.monster.com/AEM-CQ5-developer-J...,NaN,NaN,5a590350b73b2cec46b05750a208e345
21998,NaN,Jernberg Industries was established in 1937 an...,Electrician - Experienced Forging Electrician ...,Full Time Employee,"Chicago, IL 60609","Jernberg Industries, Inc.",http://jobview.monster.com/Electrician-Experie...,25.00 - 28.00 $ /hour,Installation/Maintenance/Repair,40161cf61c283af9dc2b0a62947a5f1b
21999,NaN,Contract AdministratorCan you be the point per...,Contract Administrator Job in Cincinnati,Full Time,"Cincinnati, OH",NaN,http://jobview.monster.com/Contract-Administra...,"40,000.00 - 46,000.00 $ /year+ annual bonus (u...",Experienced (Non-Manager),cb49f16ad72627b109e434e0cac97f7a

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22000 entries, 0 to 21999
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          22000 non-null  object
 1   country_code     22000 non-null  object
 2   date_added       122 non-null    object
 3   has_expired      22000 non-null  object
 4   job_description  22000 non-null  object
 5   job_title        22000 non-null  object
 6   job_type         20372 non-null  object
 7   location         22000 non-null  object
 8   organization     15133 non-null  object
 9   page_url         22000 non-null  object
 10  salary           3446 non-null   object
 11  sector           16806 non-null  object
 12  uniq_id          22000 non-null  object
dtypes: object(13)
memory usage: 2.3+ MB

In [85]:
df.columns

Index(['date_added', 'job_description', 'job_title', 'job_type', 'location',
       'organization', 'page_url', 'salary', 'sector', 'uniq_id'],
      dtype='object')

In [90]:
df.head()

,date_added,job_description,job_title,job_type,location,organization,page_url,salary,sector,uniq_id
0,NaN,TeamSoft is seeing an IT Support Specialist to...,IT Support Technician Job in Madison,Full Time Employee,"Madison, WI 53702",NaN,http://jobview.monster.com/it-support-technici...,NaN,IT/Software Development,11d599f229a80023d2f40e7c52cd941e
1,NaN,The Wisconsin State Journal is seeking a flexi...,Business Reporter/Editor Job in Madison,Full Time,"Madison, WI 53708",Printing and Publishing,http://jobview.monster.com/business-reporter-e...,NaN,NaN,e4cbb126dabf22159aff90223243ff2a
2,NaN,Report this job About the Job DePuy Synthes Co...,Johnson & Johnson Family of Companies Job Appl...,"Full Time, Employee",DePuy Synthes Companies is a member of Johnson...,Personal and Household Services,http://jobview.monster.com/senior-training-lea...,NaN,NaN,839106b353877fa3d896ffb9c1fe01c0
3,NaN,Why Join Altec? If you’re considering a career...,Engineer - Quality Job in Dixon,Full Time,"Dixon, CA",Altec Industries,http://jobview.monster.com/engineer-quality-jo...,NaN,Experienced (Non-Manager),58435fcab804439efdcaa7ecca0fd783
4,NaN,Position ID# 76162 # Positions 1 State CT C...,Shift Supervisor - Part-Time Job in Camphill,Full Time Employee,"Camphill, PA",Retail,http://jobview.monster.com/shift-supervisor-pa...,NaN,Project/Program Management,64d0272dc8496abfd9523a8df63c184c

In [91]:
df_corr=df.corr()

In [92]:
print(df_corr)

Empty DataFrame
Columns: []
Index: []

In [93]:
df.describe()

,date_added,job_description,job_title,job_type,location,organization,page_url,salary,sector,uniq_id
count,122,22000,22000,20372,22000,15133,22000,3446,16806,22000
unique,78,18744,18759,39,8423,738,22000,1737,163,22000
top,9/22/2016,12N Horizontal Construction Engineers Job Desc...,Monster,Full Time,"Dallas, TX",Healthcare Services,http://jobview.monster.com/it-support-technici...,"40,000.00 - 100,000.00 $ /year",Experienced (Non-Manager),11d599f229a80023d2f40e7c52cd941e
freq,6,104,318,6757,646,1919,1,50,4594,1